// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/reset";
@import "config/utilities";

// Your CSS partials
@import "components/index";
@import "pages/index";



body {
  // background: linear-gradient(to right, #3de6fa, #243eff);
  background: $white;
  font-family: $body-font;
}

.title {
  font-family: $headers-font;
  color: $gray;
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 39px;
  text-align: center;
}
