#home-page {
  position: relative;
  min-height: 650px;
}

.banner {
  background-image: url('/assets/images/banner.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.home-container {
  position: absolute;
  left: 10%;
  top: 15%;
  max-width: 600px;
}

.description-text {
  font-family: $body-font;
  color: $light-gray;
  margin: 10px auto;
  font-size: 16px;
}

/* Sweep To Bottom */
.rdv-btn {
  border: 1px solid #00c6ff;
  background: linear-gradient(to right, #0072ff, #00c6ff);
  cursor: pointer;
  border-radius: 35px;
  padding: 11px 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  color: $white;
  text-decoration: none;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
}

.rdv-btn:hover {
  color: #0072ff;
  background: $white;
  border: 1px solid #00c6ff;
}

.card-container {
  margin: -120px auto 50px;
  position: relative;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  height: 460px;
  margin: 15px auto;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 20px;
  border-radius: 5px 30px 5px 5px;
  background: $white;
  transition: all .3s ease;

  h3 {
    color: $gray;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  li {
    line-height: 2.2em;
  }

  hr {
    border: 0.5px solid $gray;
    margin: 15px auto;
  }
}

.card-content {
  position: relative;
}

.fa-user-md,
.fa-notes-medical,
.fa-stethoscope {
  font-size: 42px;
  color: $blue;
}

.card:hover {
  transform: translateY(-10px);

  h3,
  p,
  i,
  li {
    color: $white
  }
}

.card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to right, rgb(0, 114, 255), rgb(0, 198, 255));
  opacity: 0;
  visibility: hidden;
  border-radius: 5px 30px 5px 5px;
  transition: all .3s ease 0s;
}

.card:hover::before {
  opacity: 1;
  height: 100%;
  visibility: visible;
}

#troubles-list {
  list-style: disc;
  padding: 20px 0 0 15px;
  text-align: left;
}

#tarif {
  margin: 80px auto;
  font-weight: bold;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .home-container {
    left: 3%;
  }
}

@media (max-width: 991px) {
  .banner {
    background: linear-gradient(rgba(0, 114, 255, 0.8), rgba(0, 198, 255, 0.8)), url('/assets/images/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .77;
  }

  .home-container {
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .title,
  .description-text {
    color: $white !important;
    text-align: center;
  }

  .rdv-btn {
    background: $white;
    color: #0072ff;
    border: 1px solid $white;
  }

  .card-container {
    margin-top: -150px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .home-container {
    left: 3%;
  }
}

@media (max-width: 768px) {
  .card-container {
    margin-top: -70px;
  }
}

@media (max-device-width: 812px) {
  .home-container {
    top: 5%;
  }

  .title {
    font-size: 28px;
  }

  .card-container {
    margin-top: -65px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  #home-page {
    min-height: 500px;
  }

}


// ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .home-container {
    top: 18%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

}
