.legal {
  margin-bottom: 50px;
}

.page-title {
  margin: 25px auto;
  text-align: center;
  font-family: $headers-font;
  font-size: 24px;
}

.legal-content {
  font-family: $body-font;

  h2 {
    margin: 10px 0;
  }
}
