<footer class="footer-area">
  <div class="container footer-flex">
    <div class="copyright">
      <p>Copyright @ 2020 TCCE Côte Basque. Tous droits réservés</p>
    </div>
    <div class="legal">
      <a href="#">Mentions Légales</a>
    </div>
  </div>
</footer>
