<footer class="footer-area">
  <div class="container footer-flex">
    <div class="copyright">
      <p>Copyright @ 2020 TCCE Côte Basque. <br>
        Tous droits réservés</p>
    </div>
    <div class="legal">
      <%= link_to "Mentions Légales", "/mentions_legales" %>
    </div>
  </div>
</footer>
