<nav id="navbar">
  <div class="nav-left">
    <%= image_tag "/assets/images/logo.png", class: "logo", alt: "TCCE Cote Basque - logo" %>
  </div>
  <div class="nav-right">
    <div class="contact-item phone">
      <div class="item-content">
        <i class="fas fa-phone-alt"></i>
        <p><a class="contact-link" href="tel:+33659109761" aria-label="Telephone">+33 (0)6 59 10 97 61</a></p>
      </div>
    </div>
    <div class="contact-item address">
      <div class="item-content">
        <i class="fas fa-map-marker-alt"></i>
        <address class="contact-link">
          <a class="contact-link"
            href="https://www.google.com/maps/place/22+Route+de+Maignon,+64600+Anglet,+France/@43.4769777,-1.5083401,17z/data=!3m1!4b1!4m5!3m4!1s0xd51400be838d84d:0x32583c1cd96798c8!8m2!3d43.4769738!4d-1.5061514"
            target="_blank" rel="noopener noreferrer" aria-label="address">22, route de maignon, 64200 Anglet</a>
        </address>
      </div>
    </div>
    <div class="contact-item mail">
      <div class="item-content">
        <i class="far fa-envelope"></i>
        <p><a class="contact-link" href="mailto:tcc.cotebasque@gmail.com"
            aria-label="Email">tcc.cotebasque@gmail.com</a></p>
      </div>
    </div>
  </div>
</nav>
