<div class="header-topbar">
  <div class="container topbar-flex">
    <div class="site-description">
      Cabinet de Thérapies Comportementales, Cognitives et Émotionnelles de la Côte Basque</div>
    <div class="opening-hrs">
      <span class="opening-hrs-caption">Ouverture :</span>
      <span class="opening-hrs-text">du Lundi au Vendredi de 9h à 18h</span>
    </div>
  </div>
</div>
