<div class="header-topbar">
  <div class="topbar-flex">
    <div class="site-description">
      <p>Cabinet de Thérapies Comportementales, Cognitives et Émotionnelles de la Côte Basque</p>
    </div>
    <div class="opening-hrs">
      <p>Ouverture: du Lundi au Vendredi de 9h à 18h</p>
    </div>
  </div>
</div>
