// Define variables for your color scheme
$blue: #2F88FD;
$gray: #262626;
$light-gray: #7f7f7f;
$white: #FFFFFF;
$dark-blue: #172538;


// For example:
// $red: #FD1015;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
