.footer-area {
  padding: 30px 15px;
  background: #F9FAFF;
  color: $gray;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.legal a {
  color: $gray;
}

.legal a:hover {
  text-decoration: none;
}


@media (max-width: 768px) {
  .footer-flex {
    text-align: center;
    padding: 0;
  }
}
