#navbar {
  width: 100%;
  z-index: 100;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #F9FAFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
  height: 40px;
  width: auto;
  padding-left: 20px;
}

.fa-map-marker-alt,
.fa-phone-alt,
.fa-envelope {
  width: 30px;
  font-size: 20px;
  padding-right: 10px;
  color: $gray;
}


.contact-item {
  text-align: center;
}

.item-content {
  display: flex;
  align-items: flex-end;
  padding: 5px 10px;
}

.contact-link {
  font-size: 14px;
  color: $gray;
  text-decoration: none;
  font-style: normal;
}

.contact-link:hover {
  text-decoration: underline;
}

@media (max-width: 1199px) {
  .navbar {
    padding: 10px 20px;
  }

  .nav-left {
    margin: 10px auto;
  }

  .nav-right {
    margin: 10px auto 0;
  }
}

@media (min-width: 1200px) {
  .nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 20px;
  }
}
