.header-topbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0;
}

.topbar-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.opening-hrs {
  font-weight: bold;
  ;
}
