.header-topbar {
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0;
  background: $white;
}

.topbar-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  text-align: center;
}

.site-description {
  width: auto;
}

.opening-hrs {
  font-weight: bold;
}

@media (max-device-width: 668px) {
  .topbar-flex {
    padding: 0;
  }
}
