---
title: TCCE - Côte Basque
---

<section class="main">
  <div class="main-banner"></div>
  <div class="home-container container">
    <h1 class="title">
      Pôle de Thérapie Comportementale Cognitive et Émotionnel <br />
      de la Cote Basque
    </h1>
    <p class="description-text">
      Le pole de Thérapie Comportementale Cognitive et Émotionnel de la Cote
      Basque réunit une équipe de thérapeutes formés et validées dans
      l’application des TCCE. <br />
      Il a pour vocation de venir en aide aux personnes, en souffrance
      psychologique, sous la forme de thérapie individuelle et/ou de groupe.
      <br />
      Notre équipe accueille les adultes et les enfants.
    </p>
    <a class="rdv-btn" href="mailto:tcc.cotebasque@gmail.com" aria-label="Email">Prendre un rendez-vous</a>
  </div>
</section>

<section class="card-container">
  <div class="container">
    <div class="cards">
      <div class="card" id="pathologie">
        <div class="card-content">
          <i class="fas fa-notes-medical"></i>
          <h3>Pathologies et Traitements</h3>
          <ul id="troubles-list">
            <li>Troubles Anxieux</li>
            <li>Troubles de l'humeur</li>
            <li>Troubles du comportement alimentaire</li>
            <li>Trouble de l'usage d'une substance</li>
            <li>Troubles du sommeil</li>
            <li>TDA/H</li>
            <li>Troubles de l'attachement</li>
          </ul>
        </div>
      </div>
      <div class="card" id="soins">
        <div class="card-content">
          <i class="fas fa-stethoscope"></i>
          <h3>Offres de Soin</h3>
          <ul class="soin-list">
            <li>Thérapies individuelles adultes</li>
            <li>Thérapies individuelles enfants</li>
            <li>Groupes thérapeutiques</li>
          </ul>
          <hr />
          <p id="tarif">Tarifs consultation: 45€</p>
        </div>
      </div>
      <div class="card" id="doctors">
        <div class="card-content">
          <i class="fas fa-user-md"></i>
          <h3>Psychiatres</h3>
          <ul class="psy-list">
            <li>Dr. Gonzales</li>
            <li>Dr. Vaeze</li>
          </ul>
          <hr />
          <h3>Psychologues - Thérapeutes</h3>
          <ul class="psy-list">
            <li>Mme Dirson</li>
            <li>Mme Othily</li>
            <li>Mme Sauvage</li>
            <li>Mr Mori</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
